RewriteEngine On

##For Rest Pages -

#-- Admin Profile Pages
RewriteRule ^(dashboard)/$ profile/dashboard.php [L]
RewriteRule ^(myprofile)/$ profile/edit_profile.php [L]
RewriteRule ^(profile-password)/$ profile/changepass.php [L]

#-- Admin category  Pages
RewriteRule ^(category)/(add-category)/$ category/category.php [L]
RewriteRule ^(category)/(category-list)/$ category/category_list.php [L]


RewriteRule ^(contests)/(new-contest)/$ contest/contest.php [L]
RewriteRule ^(contests)/$ contest/view-contest.php [L]
RewriteRule ^(contests)/(info)/$ contest/view-participate.php [L]
RewriteRule ^(contests)/(pending_contest_participate)/$ contest/pending_participate_list.php [L]
RewriteRule ^(contests)/(product_votes_contest)/$ contest/product_votes_contest_list.php [L]


#-- Admin Users Pages
RewriteRule ^(users)/(new-user)/$ user/users.php [L]
RewriteRule ^(users)/$ user/view-users.php [L]
RewriteRule ^(sellers)/$ user/view-sellers.php [L]
#-- Admin Seller Users Pages
RewriteRule ^(seller)/$ seller/info.php [L]
#-- products Pages
RewriteRule ^(products)/(new-product)/$ products/product.php [L]
RewriteRule ^(products)/(new-product-step2-configure)/$ products/new-product-step2_configure.php [L]
RewriteRule ^(products)/(new-product1)/$ products/product-one.php [L]
RewriteRule ^(products)/(new-productcsv)/$ products/products-csv.php [L]
RewriteRule ^()(products)/$ products/view-products.php [L]
RewriteRule ^()(products-view)/$ products/product_view.php [L]


#-- Admin brands  Pages
RewriteRule ^(brands)/(add-brand)/$ brands/brand.php [L]
RewriteRule ^(brands)/$ brands/brand_list.php [L]

#---prodcutMetal
RewriteRule ^(product-metal)/(add-prodcutMetal)/$ product_metal/product-metal.php [L]
RewriteRule ^(product-metals)/$ product_metal/product_metal_list.php [L]
#-- Admin attribute  Pages
RewriteRule ^(attribute)/(add-attribute)/$ attribute/attribute.php [L]
RewriteRule ^(attributes)/$ attribute/attribute_list.php [L]
RewriteRule ^(attribute)/(add-attribute-value)/$ attribute/attribute_value.php [L]
RewriteRule ^(attributes-value)/$ attribute/attribute_value_list.php [L]

#-- Admin attribute set  Pages
RewriteRule ^(attribute)/(add-attribute-set)/$ attribute_set/attribute_set.php [L]
RewriteRule ^(attributes-set)/$ attribute_set/attribute_list_set.php [L]

#--  orders Pages
RewriteRule ^(orders)/$ orders/order_list.php [L]
RewriteRule ^(order)/(details)/$ orders/order.php [L]

#RewriteRule ^$ index.php? [L]

#-- Website Pages
RewriteRule ^(website)/(share-links)/$ social/social-settings.php [L]
RewriteRule ^(website)/(google-analytic)/$ social/google_analytic.php [L]

RewriteRule ^(website)/(contact)/$ contact/contact-settings.php [L]
RewriteRule ^(website)/(feature-product)/$ feature_product/feature_product_settings.php [L]

RewriteRule ^(website)/(sponsered)/$ sponsered_ad/sponsered_ad_list.php [L]
RewriteRule ^(website)/(add-sponsered)/$ sponsered_ad/sponsered_ad.php [L]

RewriteRule ^(shipping-and-return)/$ profile/shipping-and-return.php [L]
